* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F2ECFF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

.search-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container h1{
  margin-bottom: 10px;
}

.search-container input {
  padding: 10px;
}

.search-container #search{
  width: 800px;
  border: 2px solid #00C896;
  border-radius: 5px;
}

.search-container #search-btn{
  margin-left: 10px;
  background: #00C896;
  border: 2px solid #00C896;
  border-radius: 5px;
  
}

.container{
  padding: 20px;
  height: 100vh;
  display: flex;  
  flex-direction: column;
}

.container h1{
  text-align: center;
  margin-bottom: 10px;
}

.container form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.container form input{
  padding: 10px;
  border: 2px solid #00C896;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
}

.container form #submit{
  background: #00C896;
  border-color: #00C896;
  cursor: pointer;
}

.edit-container{
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-container .bottom-container{
  display: flex;
}

.edit-container .bottom-container input{
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.edit-container .bottom-container #edit{
  background: #00C896;
  border: 2px solid#00C896;
  cursor: pointer;
}

.edit-container .bottom-container #close{
  background: red;
  border: 2px solid red;
  cursor: pointer;
}

.edit-container input{
  width: 600px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 14px;
  cursor: text;
}

table tr td button{
  height: 25px;
  width: 60px;
  border-radius: 5px;
  background: #00C896;
  border-color: #00C896;
  cursor: pointer;
}
table tr td .delete{
  background: red;
  border-color: red;
}

table th {
  text-align: left;
}

table{
  color: #181818;
  margin: 20px;
}